<head>
    <!--Jquery-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  
  </head>
  
  <body>
    <div id="app">
      <button class="btn btn-primary" v-on:click="ajax(nom)">AFFICHER</button>
    <template>
      <div class="table-responsive">
          <table class="table-hover table" v-if="info">
              <thead>
                  <tr>
                      <th>id</th>
                      <th>nom</th>
                      <th>couleur</th> 
                      <th>ingredient_p</th> 
                      <th>date_f</th>
                      <th>poids</th>                
                  </tr>
              </thead>
              <tbody>              
                  <tr v-for="item in info">
                      <td>{{ item.id }}</td>
                      <td>{{ item.nom }}</td>
                      <td>{{ item.couleur }}</td>
                      <td>{{ item.ingredient_p }}</td>
                      <td>{{ item.date_f }}</td>
                      <td>{{ item.poids }}</td>                 
                  </tr>
              </tbody>
          </table>
          <!-- <a class="btn btn-primary" href="formGateau.html">Ajouter Gateau</a> -->
          <button class="btn btn-primary" v-on:click="ajax(nom)">AJOUTER GATEAU</button>
          <button class="btn btn-primary" v-on:click="ajax(nom)">SUPPRIMER GATEAU</button>
      </div>
  </template>
  </div>
  
  <script>
    var app =new Vue({
      el: '#app',
      data () {
        return {
          info: null,
          message:''    
        }
      },
      methods: {
        ajax: function ( event) {
        axios({
          method: 'get',
          url: 'http://localhost/cuisine/index.php/gateaux',
          responseType: 'json',    
        })
           .then(async res => { 
             if(res.status === 200) { 
                   alert('Ajout de la page !');
                   this.info=res.data;                     
              } else if(res.status === 400) { 
                  let errorResponse = await res.json(); this.errors.push(errorResponse.error); }
           })  
        }
        }
    })
    </script>

</body>
